# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Build outputs
dist/
build/
coverage/

# Docker
docker-data/
*.pid

# Logs
logs/
*.log
log.txt

# OS trash
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
